In [1]:
import pandas as pd
from scipy import stats
df=pd.read_csv("D:\python\ictak activity\case study 04\Sales_add.csv")

In [2]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [3]:
df.isnull().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [4]:
df.sample(5)

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
11,Month-12,Region - A,Manager - A,178939,276279
6,Month-7,Region - C,Manager - C,130625,222106
13,Month-14,Region - A,Manager - A,151514,253131
16,Month-17,Region - A,Manager - C,140862,234908
7,Month-8,Region - A,Manager - A,131140,230637

In [5]:
print(df["Manager"].unique())

['Manager - A' 'Manager - C' 'Manager - B']

# Q no. 01 , solution by paired sampled t-test - Ho = sales before and after have no change ( mean difference  of both sales data samples =0)  / H1= sales after entry in digital marketing  is higher than before entry ( mean difference b/w 2 sale data not = 0 )

In [6]:

df[['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)']].describe()
ttest,pval = stats.ttest_rel(df['Sales_before_digital_add(in $)'], df['Sales_After_digital_add(in $)'])
print(pval)

if pval<0.05:
        print("reject null hypothesis")
else:
        print("accept null hypothesis")

6.336667004575778e-11
reject null hypothesis

# The solution gives a clear cut rejection of null hypothesis , which implies that the sales after entry into the digital market have made more profits.

# Q no. 2 - solution testing by Chi-square - test , for testing dependency between region and Manager.

In [21]:

verify_relation=pd.crosstab(df["Region"],df["Manager"])
print('verify relation between manager and region :-\n',verify_relation)#Observed Values
Observed_Values = verify_relation.values 
print("Observed Values :-\n",Observed_Values)
b=stats.chi2_contingency(verify_relation)
Expected_Values = b[3]
print("Expected Values :-\n",Expected_Values)
no_of_rows=len(verify_relation.iloc[0:2,0])
no_of_columns=len(verify_relation.iloc[0,0:2])
ddof=(no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom:-",ddof)
alpha = 0.05
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(Observed_Values,Expected_Values)])
chi_square_statistic=chi_square[0]+chi_square[1]
print("chi-square statistic:-",chi_square_statistic)
critical_value=chi2.ppf(q=1-alpha,df=ddof)
print('critical_value:',critical_value)#p-value
p_value=1-chi2.cdf(x=chi_square_statistic,df=ddof)
print('p-value:',p_value)
print('Significance level: ',alpha)
print('Degree of Freedom: ',ddof)
print('chi-square statistic:',chi_square_statistic)
print('critical_value:',critical_value)
print('p-value:',p_value)
if chi_square_statistic>=critical_value:
    print("accept H1,There exists dependency between  region and Manager ")
else:
    print("Retain H0,There is no dependency between region and Manager")
    
if p_value<=alpha:
    print("accept H1,There exists dependency between region and Manager")
else:
    print("Retain H0,There is no dependency between region and Manager")

verify relation between manager and region :-
 Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1
Observed Values :-
 [[4 3 3]
 [4 1 2]
 [1 3 1]]
Expected Values :-
 [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]
Degree of Freedom:- 1
chi-square statistic:- 2.921995464852608
critical_value: 3.841458820694124
p-value: 0.08737974495299139
Significance level:  0.05
Degree of Freedom:  1
chi-square statistic: 2.921995464852608
critical_value: 3.841458820694124
p-value: 0.08737974495299139
Retain H0,There is no dependency between region and Manager
Retain H0,There is no dependency between region and Manager

# Hence the solution is , there is no dependency between region and manager , based on the hypothesis , in which the Ho = there is no dependency between Manager and region passes the test.